# Compiled files
build/
*.o
*.exe
*.out

# IDE files
.vscode/
*.suo
*.user

# Other
*.log
plant-nursery-simulator/docs/diagrams/.DS_Store
plant-nursery-simulator/.DS_Store
plant-nursery-simulator/docs/.DS_Store
.DS_Store
